<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <a class="navbar-brand" href="/"><%= t('navbar.coursecraft') %></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent" >
    <ul class="navbar-nav mr-auto">
    </ul>
    <% if student_signed_in? %>
<<<<<<< Updated upstream
    <ul class="navbar-nav">
      <li class="nav-item">
        <%= link_to "Opt Outs", opt_out_subjects_student_path(current_student.id), class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to 'All Subjects', all_subjects_subjects_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
          <%= link_to "Subjects", subjects_path, class: "nav-link"%>
      </li>
      <li class="nav-item">
          <%= link_to "Schedule", schedules_path, class: "nav-link"%>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <%= link_to "My Profile", edit_student_registration_path , class: "dropdown-item"%>
          <div class="dropdown-divider"></div>
          <%= button_to "Logout", destroy_student_session_path, method: :delete, class: 'dropdown-item' %>
        </div>
      </li>
    </ul>
    <% elsif teacher_signed_in? %>
    <ul class="navbar-nav">
      <li class="nav-item">
        <%= link_to "Opt Outs", subjects_with_opt_outs_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to 'All Subjects', all_subjects_subjects_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
          <%= link_to "Students", students_path, class: "nav-link"%>
      </li>
=======
      <ul class="navbar-nav">
>>>>>>> Stashed changes
        <li class="nav-item">
          <%= link_to t('navbar.all_subjects'), all_subjects_subjects_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to t('navbar.subjects'), subjects_path, class: "nav-link"%>
        </li>
        <li class="nav-item">
          <%= link_to t('navbar.schedule'), schedules_path, class: "nav-link"%>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= t('navbar.dropdown') %>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <%= link_to t('navbar.my_profile'), edit_student_registration_path , class: "dropdown-item"%>
            <div class="dropdown-divider"></div>
            <%= button_to t('navbar.logout'), destroy_student_session_path, method: :delete, class: 'dropdown-item' %>
          </div>
        </li>
      </ul>
    <% elsif teacher_signed_in? %>
      <ul class="navbar-nav">
        <li class="nav-item">
          <%= link_to t('navbar.all_subjects'), all_subjects_subjects_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to t('navbar.students'), students_path, class: "nav-link"%>
        </li>
        <li class="nav-item">
          <%= link_to t('navbar.subjects'), subjects_path, class: "nav-link"%>
        </li>
        <li class="nav-item">
          <%= link_to t('navbar.groups'), groups_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to t('navbar.schedule'), schedules_path, class: "nav-link"%>
        </li>
        <li class="nav-item">
          <%= button_to t('navbar.sign_out'), destroy_teacher_session_path, method: :delete, class: "btn btn-danger" %>
        </li>
      </ul>
    <% else %>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/login"><%= t('navbar.login') %></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/register"><%= t('navbar.register') %></a>
        </li>
      </ul>
    <% end %>
  </div>
</nav>
