<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <a class="navbar-brand" href="/"><%= t('navbar.coursecraft') %></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent" >
    <ul class="navbar-nav mr-auto">
    </ul>
    <% if student_signed_in? || teacher_signed_in? %>
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="languageDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= t('navbar.language') %>
          </a>
          <div class="dropdown-menu" aria-labelledby="languageDropdown">
            <a class="dropdown-item" href="?locale=uk">Українська</a>
            <a class="dropdown-item" href="?locale=ru">English</a>
          </div>
        </li>
      </ul>
    <% else %>
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="languageDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= t('navbar.language') %>
          </a>
          <div class="dropdown-menu" aria-labelledby="languageDropdown">
            <a class="dropdown-item" href="?locale=uk">Українська</a>
            <a class="dropdown-item" href="?locale=en">English</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/login"><%= t('navbar.login') %></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/register"><%= t('navbar.register') %></a>
        </li>
      </ul>
    <% end %>
  </div>
</nav>
