<div class="row">
  <div class="col-lg-4 col-md-6 ml-auto mr-auto">
    <h1 class="text-center">Account</h1>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= devise_error_messages! %>

    <div class="form-group">
      <% if current_student.avatar.attached? %>
      <div class="image-upload">
        <label for="image-upload" class="upload-label">
          <%= image_tag current_student.avatar, style: "height: 100px; width: 100px; object-fit: cover;", class: "rounded-circle" %>
          <div class="upload-text">-</div>
        </label>
        <%= f.file_field :avatar, style: "display: none;", id: "image-upload" %>
      </div>
      <% else %>
      <div class="avatar-upload">
        <label for="image-upload" class="upload-label">
          <div class="no-image-text">Upload Photo</div>
        </label>
        <%= f.file_field :avatar, style: "display: none;", id: "image-upload" %>
      </div>
      <% end %>
    </div>

    <div class="form-group">
      <%= f.text_field :country, class: 'form-control', placeholder: "Country" %>
    </div>

    <div class="form-group">
      <%= f.text_field :city, class: 'form-control', placeholder: "City" %>
    </div>

    <div class="form-group">
      <%= f.text_field :first_name, autofocus: false, class: 'form-control', placeholder: "User Name" %>
    </div>

    <div class="form-group">
      <%= f.text_field :last_name, autofocus: false, class: 'form-control', placeholder: "User Name" %>
    </div>

    <div class="form-group">
      <%= f.email_field :email, class: 'form-control', placeholder: 'Email Address' %>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div class="alert alert-warning">Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="form-group">
      <%= f.password_field :password, autocomplete: "off", class: 'form-control', placeholder: 'Password'  %>
      <p class="form-text text-muted"><small>Leave password blank if you don't want to change it</small></p>
    </div>

    <div class="form-group">
      <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control', placeholder: 'Confirm Password'  %>
    </div>

    <div class="form-group">
      <%= f.password_field :current_password, autocomplete: "off", class: 'form-control', placeholder: 'Current Password'  %>
      <p class="form-text text-muted"><small>We need your current password to confirm your changes</small></p>
    </div>

    <div class="form-group">
      <%= f.submit "Save Changes", class: 'btn btn-lg btn-block btn-primary' %>
    </div>
    <% end %>
    <hr>

    <p class="text-center"><%= link_to "Deactivate my account", registration_path(resource_name), data: { confirm: "Are you sure? You cannot undo this." }, method: :delete %></p>

    <h2>Weather Settings</h2>
    <%= form_tag students_edit_weather_path, method: :get do %>
    <div class="field">
      <%= label_tag :units, "Select units" %>
      <%= select_tag :units, options_for_select([['Metric', 'metric'], ['Standard', 'standard']], params[:units] || 'metric'), onchange: 'this.form.submit();' %>
    </div>
    <% end %>

    <%= render 'weather' %>
  </div>
</div>
